
<h1>Search</h1><input type="submit" value="更新">
<% if user_signed_in? %>

<% @posts.each do |post| %>
<div class="itemList">
<div class="item">
<%= post.date %> | <%= post.subject %> <br> 
<div class="itemimg">
<%= image_tag(post.picture) %>
</div><br>
<input type="checkbox" name="check1" value="checked"><br>
<% post.tags.each do |tag| %>
	<%= link_to tag.name, controller: :static_pages, action: :search, tag_id: tag.id %>,
<% end %>
</div>
</div>

<% end %>
 
<% else %>
 <%= link_to "Sign in", new_user_session_path %><br>
<% end%>

