<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Subject</th>
      <th>Title</th>
      <th>Tags</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td width="100"><%= post.date %></td>
        <td width="70"><%= post.subject %></td>
        <td width="300"><%= post.title %></td>
        <td width="400"><% post.tags.each do |tag| %><%= tag.name %> | <% end %></td>
        <td><%= link_to 'Show', post %> | <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "Home", root_path %><br>
<%= link_to 'New Post', new_post_path %>
